# MATLAB Otomatik Kayit Dosyalari (Autosave)
*.asv
*.m~

# MATLAB Cikti Dosyalari (İstege bagli gorseller)
*.fig
*.jpg
*.png

# Isletim Sistemi Kalintilari
.DS_Store
Thumbs.db

# MAT Dosyalari (Veri setinizi veya workspace'i Github'a yuklemek ISTEMIYORSANIZ basindaki # isaretini kaldirin)
# *.mat